:root {
    /* Color Variables */
    --bluesoft: #f4fafd;
    --softpink: #fff6ed;
    --softgreen: #e7e5d0;
    --softblue: #224faa;
    --blue: #224faa;
    --yellow: #f4c253;
    --grey: #555555;
    --darkgrey: #949293;

    /* Font Weight Variables */
    --fwextrabold: 800;
    --fwbold: 700;
    --fwsemibold: 600;
    --fwmedium: 500;
    --fwregular: 400;
    --fwlight: 300;
}

/* Font Face Definitions */
@font-face {
    font-family: "freshman";
    src: url("/fonts/freshman/freshman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "dortmund";
    src: url("/fonts/dortmund/Dortmund-ExtraBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* General Styles */
.cta-footer {
    display: flex;
    flex-direction: column;
}

.cta-section {
    background-color: var(--blue);
    color: white;
    text-align: justify;
}

.about-content {
    max-width: 1100px;
    margin: 50px auto;
    padding: 5px;
}

.cta-section h2 {
    font-family: "freshman";
    font-size: 36px;
}

.cta-section h4 {
    font-family: "freshman";
}

.cta-section p {
    font-size: 18px;
}

.cta-btn {
    padding: 12px 20px;
    background-color: var(--yellow);
    color: var(--blue);
    font-size: 16px;
    font-weight: var(--fwsemibold);
    border-radius: 50px;
    border: 0;
    text-decoration: none;
}

.cta-btn:hover {
    background-color: #ffdd70;
}

/* Footer Styling */
footer {
    background-color: var(--blue);
    color: white;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact-persons, .social-media {
    margin: 10px 0;
}

.contact-persons h3, .social-media h3 {
    margin-bottom: 5px;
}

.contact-persons ul {
    list-style: none;
    padding: 0;
}

.contact-persons li {
    margin-bottom: 5px;
}

.contact-persons a {
    color: white;
    text-decoration: none;
}

.contact-persons a:hover {
    text-decoration: underline;
}

.social-media a {
    margin: 0 10px;
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.social-media a:hover {
    color: var(--yellow);
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-content p {
        margin-bottom: 10px;
    }

    .contact-persons, .social-media {
        margin: 10px 0;
    }

    .cta-section h2 {
        font-size: 28px;
    }

    footer p {
        font-size: 12px;
    }

    .social-media a {
        font-size: 20px;
    }
}